<div class="main main-visible" data-mobile-height="">
    <div id="chat-2" class="chat dropzone-form-js">
        <div class="chat-body">
            <app-header-message></app-header-message>
            <div class="chat-content px-lg-8">
                <div class="container-xxl py-6 py-lg-10">
                    <app-read-message></app-read-message>
                </div>
                <div class="end-of-chat"></div>
            </div>
            <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                <div class="container-xxl">
                    <form id="chat-id-2-form">
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="input-group">
                                    <textarea id="chat-id-2-input" class="form-control bg-transparent border-0"
                                        placeholder="Escribir mensaje..." rows="1" data-emoji-input=""
                                        data-autosize="true"></textarea>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ico btn-primary rounded-circle" type="submit">
                                    <span class="fe-send"></span>
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>