<div class="message mb-4" *ngIf="msj.sendBy != 'me'" >
    <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-2-info">
        <img class="avatar-img" src="{{msj.img}}" alt="">
    </a>
    <div class="message-body">
        <div class="message-row">
            <div class="d-flex align-items-center">
                <div class="message-content bg-light">
                    <h6 class="mb-2">{{msj.nombre}}</h6>
                    <div>{{msj.message}}</div>
                    <div class="mt-1">
                        <small class="opacity-65">{{msj.date | date:'h:mm a '}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="message message-right mb-4" *ngIf="msj.sendBy == 'me'">
    <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
        <img class="avatar-img" src="{{msj.img}}" alt="">
    </div>
    <div class="message-body">
        <div class="message-row">
            <div class="d-flex align-items-center justify-content-end">
                <div class="message-content bg-primary text-white">
                    <div>{{msj.message}}</div>
                    <div class="mt-1">
                        <small class="opacity-65">{{msj.date | date:'h:mm a '}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>