<!-- Chat: Header -->
<div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
    <div class="container-xxl">
        <div class="row align-items-center">
            <!-- Close chat(mobile) -->
            <div class="col-3 d-xl-none">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-muted px-0" href="#" data-chat="open">
                            <i class="icon-md fe-chevron-left"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Chat photo -->
            <div class="col-6 col-xl-6">
                <div class="media text-center text-xl-left">
                    <div class="avatar avatar-sm avatar-online d-none d-lg-inline-block mr-5">
                        <img src="assets/images/avatars/10.jpg" class="avatar-img" alt="">
                    </div>

                    <div class="media-body align-self-center text-truncate">
                        <h6 class="text-truncate mb-n1">Anna Bridges</h6>
                        <span class="badge badge-dot badge-success d-inline-block d-xl-none mr-1"></span>
                        <small class="text-muted">Online</small>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div>
</div>
<!-- Chat: Header -->